style.css
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
body { 
    background-color: gray;
    font-family: 'Zen Antique', serif;
    font: weight 200px;
    color: black;
    font-size: 20px;
    line-height: center;
    text-align: center;
    background-size: cover;
}

h1 {
    color: black;
    font-family: 'Zen Antique', serif;
    
}

h2 {
    color: black
    font-family: 'Zen Antique', serif;
    font-size: 2em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #5F9EA0;
}

h3 {
    color: black;
    font-family: 'Zen Antique', serif;
}
p {
    padding: 30px;
    font-family: 'Zen Antique', serif;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
a {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.btn-gray {
    background: darkcyan;
    color: white;
    font-family: 'Zen Antique', serif;
    font-size: 1.2em;
    padding: 5px 10px;
    border-radius: 8px;
    border: 2px soliD;
    font-weight: 600;
    
;
}
.container {
    width: 600px;
    margin: 40px auto ;
    border-radius: 20%;
    border-color: darkgoldenrod;
}
.card-white {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
    border: 2px solid gray;
}
.img-circle {
    border-radius: 50%;
}
.list-inline li {
    display: inline;
    padding: 10px;
}
.list-inline {
    list-style: none;
    padding-left: 10px;
}
.list-inline i{
    font-size: 100px
    color: rgb(230,230,230);
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40p
}
.fa, .fab, .fal, .far, .fas {
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
      }
}
@media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
    .container {
      width: 600px;
    }
  }
  @media (max-width: 720px) {
    /* For a screen < 720px, this CSS will be read */
    .container {
      width: 500px;
    }
  }
  @media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .container {
      width: 300px;
    }
  }